<form class="container w-50 " [formGroup]="editForm">
    <div formGroupName="name" class="form-row">
      <div class="form-group col-md-6">
        <label for="first">First Name</label>
        <input type="text" class="form-control" name="first" formControlName="first" id="first"
          [class.is-invalid]="editForm.get('name.first').invalid && editForm.get('name.first').touched"
          [class.is-valid]="editForm.get('name.first').valid && editForm.get('name.first').touched">
        <span class="invalid-feedback" *ngIf="editForm.get('name.first').invalid && editForm.get('name.first').touched">
          First name is required and should be between 3 and 10 characters.
        </span>
      </div>
      <div class="form-group col-md-6">
        <label for="last">Last Name</label>
        <input type="text" class="form-control" name="last" formControlName="last" id="last"
          [class.is-invalid]="editForm.get('name.last').invalid && editForm.get('name.last').touched"
          [class.is-valid]="editForm.get('name.last').valid && editForm.get('name.last').touched">
        <span class="invalid-feedback" *ngIf="editForm.get('name.last').invalid && editForm.get('name.last').touched">
          Last name is required and should be between 3 and 10 characters.
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="birthdate">Birthdate</label>
      <input type="text" class="form-control" name="birthdate" formControlName="birthdate" id="birthdate"
        [class.is-invalid]="editForm.get('birthdate').invalid && editForm.get('birthdate').touched"
        [class.is-valid]="editForm.get('birthdate').valid && editForm.get('birthdate').touched">
      <span class="invalid-feedback" *ngIf="editForm.get('birthdate').invalid && editForm.get('birthdate').touched">
        Birthdate is required.
      </span>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" formControlName="email" id="email"
        [class.is-invalid]="editForm.get('email').invalid && editForm.get('email').touched"
        [class.is-valid]="editForm.get('email').valid && editForm.get('email').touched">
      <span class="invalid-feedback" *ngIf="editForm.get('email').invalid && editForm.get('email').touched">
        Email is required and should be a valid email address.
      </span>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" name="phone" formControlName="phone" id="phone"
          [class.is-invalid]="editForm.get('phone').invalid && editForm.get('phone').touched"
          [class.is-valid]="editForm.get('phone').valid && editForm.get('phone').touched">
        <span class="invalid-feedback" *ngIf="editForm.get('phone').invalid && editForm.get('phone').touched">
          Phone is required.
        </span>
      </div>
      <div class="form-group col-md-6">
        <label for="address">Address</label>
        <input type="text" class="form-control" name="address" formControlName="address" id="address"
          [class.is-invalid]="editForm.get('address').invalid && editForm.get('address').touched"
          [class.is-valid]="editForm.get('address').valid && editForm.get('address').touched">
        <span class="invalid-feedback" *ngIf="editForm.get('address').invalid && editForm.get('address').touched">
          Address is required.
        </span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mr-2" (click)="onEdit()" [disabled]="editForm.invalid">Edit</button>
    <button type="submit" class="btn btn-danger" (click)="back()">Back</button>

  </form>